.git
.letta
.DS_Store

**/node_modules
**/.next
**/out
**/dist
**/build

**/.env
**/.env.*
!.env.example
!.env.production.example
!**/.env.example
!**/.env.production.example

**/test-results
**/playwright-report
**/.playwright
**/coverage
**/*.tsbuildinfo

README.local.md
